

#footer-icon {
    color: white;
}

#footer-contact {
    color: white;
}


.card {
    padding: 5px;
}

.rmlt_map {
    height: 500px;
    border: solid #768F25;
}


.jumbotron {
    margin:0;
    background-color: #acbb7c;
    Color: white;
    height: 175px;
}

.intro {
    padding: 50px;
}

.navbar {
    background-color: #768F25;
}

.site-footer {
    background-color: #768F25; 
    padding: 10px;
}

.footer-txt {
    color: white;
}