td {
    border: 1px solid #768F25;
}

th {
    text-align: center;
    background-color: #768F25;
}

form {
    margin-top: 15px;
    margin-right:15px;
    margin-left:15px;
    margin-bottom:15px;
}

#footer-icon {
    color: white;
}

#footer-contact {
    color: white;
}

#mapid {
    height: 400px;
    width: 50%;
    Margin: auto;
    border: solid #768F25;
}

#logo {
    Margin-right: 15px;
    Margin-left: 15px;
    font-size: 3.5em;
    color:#acbb7c;
   
}

.weatherwidget-io {
    margin-top: 50 px;
}

.pittman_wash_img {
    margin-bottom: 10px;
}

.card {
    padding: 5px;
}

.card-deck {
    margin: auto;
}


.card-footer {
    text-align: center;
}

.rmlt_map {
    height: 500px;
    border: solid #768F25;
}


.jumbotron {
    margin:0;
    background-color: #acbb7c;
    Color: white;
    height: 175px;
    background: url(../img/mostafa-meraji-rqbIA6mATQw-unsplash.jpg);
    background-size: cover;
    background-position: center center;
}

.intro {
    padding: 50px;
}

.Ratings {
    height: 50px;
    width: 300px;
    border: solid #768F25;
    
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.fa-star {
    color:rgb(228, 197, 22);
}

.fa-star-half-o {
    color:rgb(228, 197, 22);
}

.fa-star-o {
    color:rgb(228, 197, 22);
}

.rating_cat {
    background-color:#acbb7c;
}

.navbar {
    background-color: #768F25;
}

.filter {
    background-color: #acbb7c;
    
}

.site-footer {
    background-color: #768F25; 
    padding: 10px;
    margin: 20px 0px 0px 0px;
}

.footer-txt {
    color: white;
}